@font-face {
  font-family: 'PilkiusRomeus';
  src: url(../fonts/PilkiusRomeus-YwDL.ttf);
}
@font-face {
  font-family: 'PolygonParty';
  src: url(../fonts/PolygonParty-3KXM.ttf);
}
@font-face {
  font-family: 'ChocolateNesquik';
  src: url(../fonts/ChocolateNesquik-ev4n.ttf);
}
