#world-statistics{
  height: 90%;
  overflow-y: scroll;
  background-color: #111117;
}

.person-info{
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  background-color: #202733;
  border-radius: 10px;
}
.person-info .idCard{
  width: 100%;
  height: 30%;
}
.person-info .idCard .index{
  width: 25%;
  height: 100%;
  float: left;
  border-top-left-radius: 10px;
  background: linear-gradient(to right bottom, #23DBF9 0%, #FF64BD 100%);
}
.person-info .idCard .index p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: 'ChocolateNesquik';
  font-size: 30px;
}
.person-info .idCard .name{
  width: 75%;
  height: 60%;
  float: right;
}
.person-info .idCard .name p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'ChocolateNesquik';
  font-size: 22px;
  padding-left: 15px;
}
.person-info .idCard .alive-dead{
  width: 75%;
  height: 40%;
  float: right;
}
.person-info .idCard .alive-dead p{
  padding-left: 15px;
  font-family: 'PilkiusRomeus';
}
.person-info .personality{
  height: 45%;
  padding-left: 15px;
}
.person-info .personality p{
  font-size: 15px;
  font-family: monospace;
  position: relative;
  /* top in js/frontend.js */
}
.person-info .supply{
  height: 25%;
  padding-left: 15px;
  border-top: 1px solid;
  border-image-source: linear-gradient(to right, #23dbf9 0%, #ff64bd 100%);
  border-image-slice: 1;
}
.person-info .supply p{
  font-family: monospace;
  font-size: 15px;
  position: relative;
  /* top in js/frontend.js */
}
